# Introduzione a Python per la Data Science

# Inizio ore 14.30

## Lavagna condivisa [https://board.net/p/lincei](https://board.net/p/lincei)


1.  elenco numerato
2.  seconda voce
1.  terza **voce**
1.  $\sum_{i=1}^99 4^{i}$

In [6]:
a = 4
a

4

In [7]:
type(a)

int

In [8]:
a = 'pippo'
type(a)

str

In [9]:
1 +2 *9

19

In [10]:
lista = [1, 99, 'testo lungo', 8.14]
lista

[1, 99, 'testo lungo', 8.14]

In [11]:
lista[1]

99

In [12]:
lista[0]

1

In [13]:
lista[-1]

8.14

In [14]:
lista[1:3]

[99, 'testo lungo']

In [15]:
lista.append(6)
lista

[1, 99, 'testo lungo', 8.14, 6]

In [16]:
lista[1:5:2]

[99, 8.14]

In [17]:
lista[::-1]

[6, 8.14, 'testo lungo', 99, 1]

In [18]:
lista[:3]

[1, 99, 'testo lungo']

In [19]:
dizionario = {'Rossi': 12, 'Bianchi': 27}
dizionario

{'Rossi': 12, 'Bianchi': 27}

In [20]:
dizionario = {'Rossi': 12, 'Bianchi': 27, 99: 'valore'}
dizionario

{'Rossi': 12, 'Bianchi': 27, 99: 'valore'}

In [21]:
testo = 'asdijwneviahurhetrhnvasdopvuweugndfsdvierionvsdunsdvr'

## Esercizio

Per ogni lettera, calcolare quante volte compare in `testo`

In [22]:
testo[5]

'w'

In [24]:
import collections

In [26]:
contatore = collections.Counter(testo)
contatore

Counter({'a': 3,
         's': 5,
         'd': 6,
         'i': 4,
         'j': 1,
         'w': 2,
         'n': 5,
         'e': 4,
         'v': 6,
         'h': 3,
         'u': 4,
         'r': 4,
         't': 1,
         'o': 2,
         'p': 1,
         'g': 1,
         'f': 1})

In [30]:
contatore.most_common(3)

[('d', 6), ('v', 6), ('s', 5)]

In [28]:
conta = {}

In [29]:
for carattere in testo:
    if carattere in conta:
        conta[carattere] += 1
    else:
        conta[carattere] = 1
conta

{'a': 3,
 's': 5,
 'd': 6,
 'i': 4,
 'j': 1,
 'w': 2,
 'n': 5,
 'e': 4,
 'v': 6,
 'h': 3,
 'u': 4,
 'r': 4,
 't': 1,
 'o': 2,
 'p': 1,
 'g': 1,
 'f': 1}

In [ ]:
for (unsigned int i=0; i<len(testo); i++) {
if testo[i] in conta
conta[testo[i]] += 1;
else
conta[testo[i]] = 1;
}
printf("%s\n", conta);

## Pandas

In [31]:
import pandas as pd

In [35]:
pd.read_csv("https://github.com/gdv/scuole-lincei/raw/master/data/googleplaystore.csv")

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10836,Sya9a Maroc - FR,FAMILY,4.5,38,53M,"5,000+",Free,0,Everyone,Education,"July 25, 2017",1.48,4.1 and up
10837,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3.6M,100+,Free,0,Everyone,Education,"July 6, 2018",1.0,4.1 and up
10838,Parkinson Exercices FR,MEDICAL,NaN,3,9.5M,"1,000+",Free,0,Everyone,Medical,"January 20, 2017",1.0,2.2 and up
10839,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,Varies with device,"1,000+",Free,0,Mature 17+,Books & Reference,"January 19, 2015",Varies with device,Varies with device
10840,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0,Everyone,Lifestyle,"July 25, 2018",Varies with device,Varies with device

## DataFrame

Una tabella molto simile a quella di SQL.

In [36]:
play = pd.read_csv("https://github.com/gdv/scuole-lincei/raw/master/data/googleplaystore.csv")
play

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10836,Sya9a Maroc - FR,FAMILY,4.5,38,53M,"5,000+",Free,0,Everyone,Education,"July 25, 2017",1.48,4.1 and up
10837,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3.6M,100+,Free,0,Everyone,Education,"July 6, 2018",1.0,4.1 and up
10838,Parkinson Exercices FR,MEDICAL,NaN,3,9.5M,"1,000+",Free,0,Everyone,Medical,"January 20, 2017",1.0,2.2 and up
10839,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,Varies with device,"1,000+",Free,0,Mature 17+,Books & Reference,"January 19, 2015",Varies with device,Varies with device
10840,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0,Everyone,Lifestyle,"July 25, 2018",Varies with device,Varies with device

In [37]:
type(play)

pandas.core.frame.DataFrame

In [41]:
play.iloc[100]

App               Natural recipes for your beauty
Category                                   BEAUTY
Rating                                        4.7
Reviews                                      1150
Size                                         9.8M
Installs                                 100,000+
Type                                         Free
Price                                           0
Content Rating                           Everyone
Genres                                     Beauty
Last Updated                         May 15, 2018
Current Ver                                   4.0
Android Ver                            4.1 and up
Name: 100, dtype: object

In [42]:
play.iloc[100:102]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
100,Natural recipes for your beauty,BEAUTY,4.7,1150,9.8M,"100,000+",Free,0,Everyone,Beauty,"May 15, 2018",4.0,4.1 and up
101,"BestCam Selfie-selfie, beauty camera, photo ed...",BEAUTY,3.9,1739,21M,"500,000+",Free,0,Everyone,Beauty,"July 12, 2018",1.0.6,4.0.3 and up

In [43]:
play['App']

0           Photo Editor & Candy Camera & Grid & ScrapBook
1                                      Coloring book moana
2        U Launcher Lite – FREE Live Cool Themes, Hide ...
3                                    Sketch - Draw & Paint
4                    Pixel Draw - Number Art Coloring Book
                               ...
10836                                     Sya9a Maroc - FR
10837                     Fr. Mike Schmitz Audio Teachings
10838                               Parkinson Exercices FR
10839                        The SCP Foundation DB fr nn5n
10840        iHoroscope - 2018 Daily Horoscope & Astrology
Name: App, Length: 10841, dtype: object

In [44]:
type(play['App'])

pandas.core.series.Series

In [48]:
play['Rating']

0        4.1
1        3.9
2        4.7
3        4.5
4        4.3
        ...
10836    4.5
10837    5.0
10838    NaN
10839    4.5
10840    4.5
Name: Rating, Length: 10841, dtype: float64

In [46]:
play['Rating'].mean()

4.193338315362443

In [47]:
list(play['Rating'])

[4.1,
 3.9,
 4.7,
 4.5,
 4.3,
 4.4,
 3.8,
 4.1,
 4.4,
 4.7,
 4.4,
 4.4,
 4.2,
 4.6,
 4.4,
 3.2,
 4.7,
 4.5,
 4.3,
 4.6,
 4.0,
 4.1,
 4.7,
 nan,
 4.7,
 4.8,
 4.7,
 4.1,
 3.9,
 4.1,
 4.2,
 4.1,
 4.5,
 4.2,
 4.7,
 3.8,
 4.7,
 4.1,
 4.7,
 4.0,
 4.2,
 4.5,
 4.4,
 3.8,
 4.2,
 4.7,
 4.6,
 4.2,
 4.3,
 4.2,
 4.0,
 3.8,
 4.6,
 3.9,
 4.3,
 4.9,
 4.4,
 4.2,
 4.0,
 3.9,
 4.6,
 4.9,
 4.3,
 4.6,
 4.9,
 3.9,
 4.0,
 4.3,
 3.9,
 4.2,
 4.8,
 3.6,
 4.2,
 4.8,
 4.8,
 4.6,
 4.5,
 4.3,
 4.5,
 4.9,
 3.9,
 4.4,
 4.0,
 4.3,
 3.7,
 4.4,
 4.3,
 3.2,
 4.6,
 4.6,
 4.5,
 3.7,
 4.6,
 4.6,
 4.6,
 4.0,
 4.4,
 4.0,
 4.7,
 4.9,
 4.7,
 3.9,
 3.9,
 4.2,
 4.6,
 4.3,
 4.7,
 4.7,
 4.8,
 4.2,
 4.3,
 4.5,
 4.1,
 nan,
 4.2,
 4.5,
 4.4,
 4.0,
 4.1,
 4.1,
 4.4,
 4.6,
 4.5,
 nan,
 3.9,
 4.4,
 nan,
 4.6,
 3.8,
 nan,
 nan,
 4.0,
 4.3,
 4.5,
 nan,
 4.1,
 3.7,
 4.7,
 4.2,
 4.6,
 4.5,
 4.6,
 4.4,
 4.2,
 4.5,
 4.5,
 4.5,
 4.5,
 4.4,
 4.5,
 4.6,
 4.8,
 3.9,
 4.6,
 4.2,
 4.1,
 4.7,
 4.2,
 4.3,
 3.3,
 4.6,
 4.8,
 4.7,
 nan,
 4.1,
 4.6,
 4.1,
 4.6,
 4.7,
 4.5,
 3.9,
 4.4,
 4.3,
 4.2,
 4.5,
 4.4,
 3.4,
 4.9,
 4.6,
 4.4,
 nan,
 4.4,
 4.4,
 4.4,
 3.5,
 nan,
 4.4,
 4.1,
 4.3,
 4.4,
 4.3,
 4.3,
 4.1,
 4.4,
 4.3,
 3.9,
 4.8,
 4.5,
 4.4,
 4.0,
 4.3,
 4.0,
 4.2,
 4.5,
 4.2,
 4.2,
 4.6,
 4.1,
 4.6,
 3.1,
 3.9,
 4.3,
 4.1,
 4.4,
 4.1,
 4.1,
 4.5,
 4.4,
 4.4,
 4.3,
 4.4,
 4.6,
 4.2,
 4.4,
 4.7,
 3.8,
 3.9,
 nan,
 4.3,
 4.2,
 4.4,
 4.7,
 4.5,
 4.2,
 4.7,
 4.8,
 4.2,
 4.2,
 4.3,
 4.4,
 4.4,
 4.1,
 3.8,
 4.3,
 3.8,
 3.5,
 4.1,
 4.6,
 4.3,
 4.5,
 4.1,
 4.5,
 4.6,
 4.0,
 4.2,
 4.4,
 4.4,
 4.0,
 4.2,
 4.2,
 4.1,
 4.0,
 3.8,
 3.9,
 3.9,
 4.2,
 4.2,
 4.3,
 4.4,
 4.4,
 4.1,
 3.8,
 4.3,
 3.8,
 3.5,
 4.1,
 4.6,
 4.3,
 4.5,
 4.1,
 4.5,
 4.6,
 4.0,
 4.2,
 4.3,
 4.2,
 4.4,
 4.7,
 4.5,
 4.2,
 4.7,
 4.8,
 4.1,
 4.3,
 4.4,
 4.5,
 4.3,
 4.5,
 4.6,
 4.7,
 4.7,
 4.8,
 3.9,
 4.1,
 4.4,
 4.6,
 4.5,
 4.7,
 4.4,
 4.5,
 3.9,
 3.2,
 3.2,
 4.1,
 4.5,
 4.2,
 4.2,
 3.7,
 4.5,
 4.6,
 4.5,
 nan,
 4.7,
 4.4,
 3.5,
 3.3,
 4.5,
 4.4,
 4.2,
 5.0,
 4.4,
 4.7,
 4.4,
 4.4,
 4.6,
 4.0,
 4.4,
 4.3,
 4.3,
 4.4,
 4.3,
 4.0,
 4.3,
 4.3,
 4.4,
 4.3,
 4.3,
 4.3,
 4.3,
 4.3,
 4.0,
 4.5,
 4.3,
 3.7,
 4.5,
 3.9,
 4.4,
 3.6,
 4.4,
 4.2,
 4.4,
 4.1,
 4.4,
 4.3,
 4.2,
 4.2,
 4.4,
 4.4,
 3.9,
 4.2,
 4.4,
 4.6,
 4.3,
 4.3,
 4.4,
 3.7,
 4.3,
 3.9,
 4.5,
 3.7,
 4.3,
 4.4,
 4.0,
 4.3,
 4.0,
 4.3,
 4.0,
 4.1,
 4.2,
 4.2,
 4.2,
 4.1,
 4.4,
 4.3,
 4.2,
 4.4,
 4.2,
 4.1,
 4.3,
 4.3,
 4.5,
 4.3,
 4.2,
 4.2,
 4.5,
 4.3,
 4.3,
 4.3,
 4.4,
 4.2,
 4.3,
 4.3,
 4.4,
 4.6,
 4.3,
 4.4,
 4.2,
 4.5,
 4.5,
 4.4,
 4.5,
 4.1,
 4.2,
 4.1,
 4.3,
 4.1,
 4.2,
 4.0,
 4.2,
 4.2,
 4.2,
 4.3,
 4.3,
 4.4,
 4.2,
 4.4,
 4.1,
 4.2,
 4.8,
 4.4,
 4.4,
 4.4,
 4.0,
 4.5,
 4.4,
 4.1,
 4.2,
 4.5,
 4.3,
 4.5,
 4.0,
 4.3,
 4.3,
 4.2,
 4.5,
 4.6,
 4.1,
 4.0,
 4.2,
 4.6,
 4.1,
 4.3,
 4.2,
 4.3,
 4.0,
 4.3,
 4.2,
 4.3,
 4.1,
 4.2,
 4.1,
 4.6,
 4.3,
 4.2,
 4.2,
 4.3,
 4.2,
 2.6,
 nan,
 nan,
 nan,
 3.5,
 4.0,
 4.1,
 3.7,
 4.1,
 4.2,
 4.5,
 4.4,
 4.2,
 4.0,
 4.1,
 3.1,
 4.4,
 4.2,
 4.1,
 3.9,
 4.3,
 4.4,
 3.5,
 4.0,
 3.3,
 4.5,
 4.4,
 4.1,
 3.9,
 3.9,
 3.6,
 4.0,
 3.6,
 3.4,
 4.2,
 4.1,
 3.4,
 3.0,
 4.6,
 4.1,
 3.9,
 1.9,
 3.5,
 2.5,
 3.9,
 3.4,
 3.5,
 4.4,
 3.8,
 4.2,
 2.5,
 2.8,
 4.1,
 4.2,
 3.5,
 4.3,
 3.3,
 4.1,
 4.2,
 3.5,
 4.2,
 4.4,
 4.1,
 4.2,
 4.3,
 4.1,
 4.0,
 4.1,
 4.2,
 3.0,
 4.4,
 4.5,
 2.5,
 4.1,
 4.2,
 4.0,
 4.1,
 1.9,
 3.3,
 4.4,
 4.1,
 3.8,
 4.1,
 4.2,
 4.0,
 4.5,
 3.7,
 3.9,
 3.5,
 3.9,
 4.0,
 4.6,
 4.0,
 4.1,
 4.2,
 3.3,
 4.4,
 4.3,
 4.2,
 3.9,
 4.3,
 3.4,
 4.2,
 4.1,
 4.0,
 3.6,
 4.2,
 3.5,
 4.0,
 4.1,
 4.1,
 2.8,
 4.4,
 4.4,
 4.2,
 4.1,
 4.2,
 3.9,
 4.1,
 4.2,
 3.9,
 4.0,
 4.2,
 4.5,
 3.9,
 3.6,
 4.4,
 3.5,
 4.4,
 4.8,
 4.6,
 4.7,
 4.8,
 nan,
 2.7,
 5.0,
 nan,
 4.8,
 5.0,
 4.8,
 nan,
 4.9,
 3.0,
 nan,
 nan,
 4.7,
 nan,
 nan,
 1.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 5.0,
 4.7,
 nan,
 5.0,
 nan,
 nan,
 nan,
 5.0,
 nan,
 nan,
 nan,
 nan,
 3.0,
 4.1,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 5.0,
 3.7,
 4.5,
 4.2,
 nan,
 nan,
 nan,
 4.3,
 4.1,
 1.9,
 4.1,
 4.4,
 nan,
 3.9,
 3.9,
 nan,
 4.0,
 4.4,
 4.7,
 3.8,
 4.4,
 4.4,
 3.6,
 4.4,
 2.7,
 4.3,
 4.6,
 2.8,
 3.5,
 nan,
 3.4,
 4.8,
 4.7,
 4.8,
 4.8,
 4.7,
 4.1,
 3.5,
 4.7,
 3.8,
 2.9,
 4.5,
 3.3,
 4.1,
 nan,
 4.7,
 4.6,
 4.7,
 4.6,
 4.7,
 nan,
 4.5,
 4.7,
 4.8,
 4.6,
 4.6,
 4.6,
 4.2,
 4.9,
 3.8,
 4.2,
 4.4,
 4.4,
 4.3,
 4.5,
 4.4,
 4.6,
 3.9,
 4.4,
 4.3,
 4.4,
 4.2,
 4.4,
 4.0,
 4.2,
 3.8,
 4.5,
 4.7,
 4.5,
 4.3,
 4.2,
 4.3,
 4.7,
 4.7,
 4.6,
 4.6,
 4.6,
 4.5,
 4.4,
 4.6,
 4.5,
 4.5,
 4.2,
 4.4,
 4.4,
 4.2,
 4.5,
 4.1,
 4.0,
 4.1,
 4.3,
 4.3,
 4.3,
 4.5,
 4.6,
 4.1,
 4.6,
 4.7,
 4.7,
 4.3,
 4.7,
 4.6,
 4.6,
 4.6,
 4.3,
 4.2,
 4.0,
 4.5,
 4.2,
 4.1,
 4.4,
 4.0,
 4.5,
 4.4,
 4.0,
 4.2,
 4.3,
 4.2,
 4.6,
 4.6,
 4.7,
 4.6,
 4.4,
 4.5,
 4.3,
 4.6,
 4.5,
 4.2,
 4.2,
 4.7,
 4.5,
 4.6,
 4.3,
 4.2,
 4.7,
 4.7,
 4.4,
 4.5,
 4.4,
 4.0,
 4.6,
 4.4,
 4.7,
 4.7,
 4.3,
 4.1,
 4.2,
 4.3,
 4.3,
 4.3,
 4.0,
 4.2,
 4.0,
 4.0,
 3.8,
 4.6,
 4.1,
 3.9,
 4.1,
 4.5,
 4.2,
 4.4,
 4.7,
 4.0,
 4.4,
 4.4,
 4.0,
 4.5,
 4.7,
 4.3,
 4.5,
 4.3,
 4.1,
 4.3,
 4.5,
 4.2,
 4.6,
 3.5,
 4.2,
 4.4,
 4.4,
 4.6,
 4.3,
 4.5,
 4.8,
 4.4,
 4.1,
 4.9,
 4.7,
 4.7,
 4.7,
 4.4,
 4.0,
 4.2,
 4.3,
 4.5,
 3.5,
 4.2,
 3.1,
 4.6,
 4.2,
 4.3,
 4.3,
 4.1,
 3.8,
 3.4,
 4.3,
 4.4,
 4.4,
 4.0,
 3.7,
 3.9,
 4.5,
 4.4,
 4.3,
 4.2,
 4.2,
 4.5,
 4.7,
 4.5,
 4.5,
 3.4,
 4.2,
 4.3,
 4.2,
 4.6,
 4.1,
 4.2,
 4.2,
 4.3,
 4.4,
 3.9,
 4.1,
 4.3,
 4.5,
 4.6,
 3.6,
 4.3,
 4.3,
 4.2,
 4.4,
 4.1,
 4.1,
 4.2,
 3.9,
 4.2,
 3.7,
 4.5,
 3.7,
 3.8,
 4.3,
 3.0,
 4.1,
 4.2,
 4.1,
 3.9,
 4.0,
 4.4,
 4.2,
 4.0,
 3.9,
 4.0,
 4.2,
 4.0,
 4.3,
 3.9,
 4.2,
 4.4,
 4.3,
 3.7,
 4.3,
 3.7,
 3.8,
 4.2,
 4.0,
 3.9,
 4.4,
 4.5,
 4.1,
 4.1,
 3.9,
 4.5,
 4.0,
 4.1,
 3.6,
 3.8,
 4.0,
 4.2,
 3.7,
 3.8,
 3.7,
 4.1,
 3.7,
 3.9,
 4.4,
 4.3,
 3.9,
 3.7,
 3.7,
 4.2,
 4.3,
 4.0,
 4.1,
 3.9,
 4.5,
 3.9,
 4.1,
 4.3,
 4.4,
 4.1,
 4.0,
 3.9,
 3.9,
 4.0,
 4.1,
 4.2,
 3.8,
 4.0,
 3.9,
 4.2,
 3.7,
 3.9,
 4.2,
 4.3,
 4.3,
 4.6,
 4.3,
 4.6,
 4.2,
 4.6,
 4.5,
 4.6,
 3.9,
 4.2,
 4.4,
 4.2,
 ...]

In [49]:
play.iloc[10838]

App               Parkinson Exercices FR
Category                         MEDICAL
Rating                               NaN
Reviews                                3
Size                                9.5M
Installs                          1,000+
Type                                Free
Price                                  0
Content Rating                  Everyone
Genres                           Medical
Last Updated            January 20, 2017
Current Ver                          1.0
Android Ver                   2.2 and up
Name: 10838, dtype: object

In [50]:
play['Rating'].isnull()

0        False
1        False
2        False
3        False
4        False
         ...
10836    False
10837    False
10838     True
10839    False
10840    False
Name: Rating, Length: 10841, dtype: bool

In [52]:
play['Rating'].isnull().sum()

1474

In [53]:
play[play['Rating'].isnull()]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
23,Mcqueen Coloring pages,ART_AND_DESIGN,NaN,61,7.0M,"100,000+",Free,0,Everyone,Art & Design;Action & Adventure,"March 7, 2018",1.0.0,4.1 and up
113,Wrinkles and rejuvenation,BEAUTY,NaN,182,5.7M,"100,000+",Free,0,Everyone 10+,Beauty,"September 20, 2017",8.0,3.0 and up
123,Manicure - nail design,BEAUTY,NaN,119,3.7M,"50,000+",Free,0,Everyone,Beauty,"July 23, 2018",1.3,4.1 and up
126,Skin Care and Natural Beauty,BEAUTY,NaN,654,7.4M,"100,000+",Free,0,Teen,Beauty,"July 17, 2018",1.15,4.1 and up
129,"Secrets of beauty, youth and health",BEAUTY,NaN,77,2.9M,"10,000+",Free,0,Mature 17+,Beauty,"August 8, 2017",2.0,2.3 and up
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10824,Cardio-FR,MEDICAL,NaN,67,82M,"10,000+",Free,0,Everyone,Medical,"July 31, 2018",2.2.2,4.4 and up
10825,Naruto & Boruto FR,SOCIAL,NaN,7,7.7M,100+,Free,0,Teen,Social,"February 2, 2018",1.0,4.0 and up
10831,payermonstationnement.fr,MAPS_AND_NAVIGATION,NaN,38,9.8M,"5,000+",Free,0,Everyone,Maps & Navigation,"June 13, 2018",2.0.148.0,4.0 and up
10835,FR Forms,BUSINESS,NaN,0,9.6M,10+,Free,0,Everyone,Business,"September 29, 2016",1.1.5,4.0 and up
10838,Parkinson Exercices FR,MEDICAL,NaN,3,9.5M,"1,000+",Free,0,Everyone,Medical,"January 20, 2017",1.0,2.2 and up

In [54]:
play[play['Rating'].isnull()].count()

App               1474
Category          1474
Rating               0
Reviews           1474
Size              1474
Installs          1474
Type              1473
Price             1474
Content Rating    1474
Genres            1474
Last Updated      1474
Current Ver       1470
Android Ver       1474
dtype: int64

In [55]:
play['Category']

0             ART_AND_DESIGN
1             ART_AND_DESIGN
2             ART_AND_DESIGN
3             ART_AND_DESIGN
4             ART_AND_DESIGN
                ...
10836                 FAMILY
10837                 FAMILY
10838                MEDICAL
10839    BOOKS_AND_REFERENCE
10840              LIFESTYLE
Name: Category, Length: 10841, dtype: object

In [56]:
play['Category'].unique()

array(['ART_AND_DESIGN', 'AUTO_AND_VEHICLES', 'BEAUTY',
       'BOOKS_AND_REFERENCE', 'BUSINESS', 'COMICS', 'COMMUNICATION',
       'DATING', 'EDUCATION', 'ENTERTAINMENT', 'EVENTS', 'FINANCE',
       'FOOD_AND_DRINK', 'HEALTH_AND_FITNESS', 'HOUSE_AND_HOME',
       'LIBRARIES_AND_DEMO', 'LIFESTYLE', 'GAME', 'FAMILY', 'MEDICAL',
       'SOCIAL', 'SHOPPING', 'PHOTOGRAPHY', 'SPORTS', 'TRAVEL_AND_LOCAL',
       'TOOLS', 'PERSONALIZATION', 'PRODUCTIVITY', 'PARENTING', 'WEATHER',
       'VIDEO_PLAYERS', 'NEWS_AND_MAGAZINES', 'MAPS_AND_NAVIGATION',
       '1.9'], dtype=object)

In [57]:
play[play['Category'] == '1.9']

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
10472,Life Made WI-Fi Touchscreen Photo Frame,1.9,19.0,3.0M,"1,000+",Free,0,Everyone,NaN,"February 11, 2018",1.0.19,4.0 and up,NaN

In [63]:
play.drop(play.index[10472])

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10836,Sya9a Maroc - FR,FAMILY,4.5,38,53M,"5,000+",Free,0,Everyone,Education,"July 25, 2017",1.48,4.1 and up
10837,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3.6M,100+,Free,0,Everyone,Education,"July 6, 2018",1.0,4.1 and up
10838,Parkinson Exercices FR,MEDICAL,NaN,3,9.5M,"1,000+",Free,0,Everyone,Medical,"January 20, 2017",1.0,2.2 and up
10839,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,Varies with device,"1,000+",Free,0,Mature 17+,Books & Reference,"January 19, 2015",Varies with device,Varies with device
10840,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0,Everyone,Lifestyle,"July 25, 2018",Varies with device,Varies with device

In [64]:
play['App']

0           Photo Editor & Candy Camera & Grid & ScrapBook
1                                      Coloring book moana
2        U Launcher Lite – FREE Live Cool Themes, Hide ...
3                                    Sketch - Draw & Paint
4                    Pixel Draw - Number Art Coloring Book
                               ...
10836                                     Sya9a Maroc - FR
10837                     Fr. Mike Schmitz Audio Teachings
10838                               Parkinson Exercices FR
10839                        The SCP Foundation DB fr nn5n
10840        iHoroscope - 2018 Daily Horoscope & Astrology
Name: App, Length: 10841, dtype: object

In [65]:
play['App'].unique()

array(['Photo Editor & Candy Camera & Grid & ScrapBook',
       'Coloring book moana',
       'U Launcher Lite – FREE Live Cool Themes, Hide Apps', ...,
       'Parkinson Exercices FR', 'The SCP Foundation DB fr nn5n',
       'iHoroscope - 2018 Daily Horoscope & Astrology'], dtype=object)

In [66]:
len(play['App'].unique())

9660

In [67]:
play[play['App'] == 'Facebook']

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
2544,Facebook,SOCIAL,4.1,78158306,Varies with device,"1,000,000,000+",Free,0,Teen,Social,"August 3, 2018",Varies with device,Varies with device
3943,Facebook,SOCIAL,4.1,78128208,Varies with device,"1,000,000,000+",Free,0,Teen,Social,"August 3, 2018",Varies with device,Varies with device

In [68]:
import pandas as pd
import seaborn as sns
planets = sns.load_dataset('planets')
tips = sns.load_dataset('tips')

In [69]:
tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [70]:
planets

               method  number  orbital_period   mass  distance  year
0     Radial Velocity       1      269.300000   7.10     77.40  2006
1     Radial Velocity       1      874.774000   2.21     56.95  2008
2     Radial Velocity       1      763.000000   2.60     19.84  2011
3     Radial Velocity       1      326.030000  19.40    110.62  2007
4     Radial Velocity       1      516.220000  10.50    119.47  2009
...               ...     ...             ...    ...       ...   ...
1030          Transit       1        3.941507    NaN    172.00  2006
1031          Transit       1        2.615864    NaN    148.00  2007
1032          Transit       1        3.191524    NaN    174.00  2007
1033          Transit       1        4.125083    NaN    293.00  2008
1034          Transit       1        4.187757    NaN    260.00  2008

[1035 rows x 6 columns]

In [71]:
tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [72]:
tips[tips['total_bill'] < tips['tip']]

Empty DataFrame
Columns: [total_bill, tip, sex, smoker, day, time, size]
Index: []

In [74]:
tips.isnull().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [75]:
tips['percentuale'] = tips['tip'] / tips['total_bill'] * 100
tips

     total_bill   tip     sex smoker   day    time  size  percentuale
0         16.99  1.01  Female     No   Sun  Dinner     2     5.944673
1         10.34  1.66    Male     No   Sun  Dinner     3    16.054159
2         21.01  3.50    Male     No   Sun  Dinner     3    16.658734
3         23.68  3.31    Male     No   Sun  Dinner     2    13.978041
4         24.59  3.61  Female     No   Sun  Dinner     4    14.680765
..          ...   ...     ...    ...   ...     ...   ...          ...
239       29.03  5.92    Male     No   Sat  Dinner     3    20.392697
240       27.18  2.00  Female    Yes   Sat  Dinner     2     7.358352
241       22.67  2.00    Male    Yes   Sat  Dinner     2     8.822232
242       17.82  1.75    Male     No   Sat  Dinner     2     9.820426
243       18.78  3.00  Female     No  Thur  Dinner     2    15.974441

[244 rows x 8 columns]

In [76]:
tips.min()

total_bill        3.07
tip                  1
sex             Female
smoker              No
day                Fri
time            Dinner
size                 1
percentuale    3.56381
dtype: object

In [77]:
tips.max()

total_bill       50.81
tip                 10
sex               Male
smoker             Yes
day               Thur
time             Lunch
size                 6
percentuale    71.0345
dtype: object

In [81]:
tips[tips['percentuale'] >40]

     total_bill   tip     sex smoker  day    time  size  percentuale
172        7.25  5.15    Male    Yes  Sun  Dinner     2    71.034483
178        9.60  4.00  Female    Yes  Sun  Dinner     2    41.666667

In [86]:
tips['size'].unique()

array([2, 3, 4, 1, 6, 5])

In [88]:
tips.columns

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size',
       'percentuale'],
      dtype='object')

In [89]:
tips.index

RangeIndex(start=0, stop=244, step=1)

In [101]:
f1_drivers = pd.read_csv("https://raw.githubusercontent.com/gdv/foundationsCS-2018/master/ex-data/f1-db/drivers.csv",
                        parse_dates=['dob'])

In [102]:
f1_drivers

,driverId,driverRef,number,code,forename,surname,dob,nationality,url
0,1,hamilton,44.0,HAM,Lewis,Hamilton,1985-07-01,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
1,2,heidfeld,NaN,HEI,Nick,Heidfeld,1977-10-05,German,http://en.wikipedia.org/wiki/Nick_Heidfeld
2,3,rosberg,6.0,ROS,Nico,Rosberg,1985-06-27,German,http://en.wikipedia.org/wiki/Nico_Rosberg
3,4,alonso,14.0,ALO,Fernando,Alonso,1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
4,5,kovalainen,NaN,KOV,Heikki,Kovalainen,1981-10-19,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen
...,...,...,...,...,...,...,...,...,...
837,838,vandoorne,2.0,VAN,Stoffel,Vandoorne,1992-03-26,Belgian,http://en.wikipedia.org/wiki/Stoffel_Vandoorne
838,839,ocon,31.0,OCO,Esteban,Ocon,1996-09-17,French,http://en.wikipedia.org/wiki/Esteban_Ocon
839,840,stroll,18.0,STR,Lance,Stroll,1998-10-29,Canadian,http://en.wikipedia.org/wiki/Lance_Stroll
840,841,giovinazzi,36.0,GIO,Antonio,Giovinazzi,1993-12-14,Italian,http://en.wikipedia.org/wiki/Antonio_Giovinazzi
841,843,brendon_hartley,39.0,HAR,Brendon,Hartley,1989-10-11,New Zealander,http://en.wikipedia.org/wiki/Brendon_Hartley

In [103]:
nuovo = f1_drivers.set_index('driverId')
nuovo

,driverRef,number,code,forename,surname,dob,nationality,url
driverId,,,,,,,,
1,hamilton,44.0,HAM,Lewis,Hamilton,1985-07-01,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
2,heidfeld,NaN,HEI,Nick,Heidfeld,1977-10-05,German,http://en.wikipedia.org/wiki/Nick_Heidfeld
3,rosberg,6.0,ROS,Nico,Rosberg,1985-06-27,German,http://en.wikipedia.org/wiki/Nico_Rosberg
4,alonso,14.0,ALO,Fernando,Alonso,1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
5,kovalainen,NaN,KOV,Heikki,Kovalainen,1981-10-19,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen
...,...,...,...,...,...,...,...,...
838,vandoorne,2.0,VAN,Stoffel,Vandoorne,1992-03-26,Belgian,http://en.wikipedia.org/wiki/Stoffel_Vandoorne
839,ocon,31.0,OCO,Esteban,Ocon,1996-09-17,French,http://en.wikipedia.org/wiki/Esteban_Ocon
840,stroll,18.0,STR,Lance,Stroll,1998-10-29,Canadian,http://en.wikipedia.org/wiki/Lance_Stroll
841,giovinazzi,36.0,GIO,Antonio,Giovinazzi,1993-12-14,Italian,http://en.wikipedia.org/wiki/Antonio_Giovinazzi
843,brendon_hartley,39.0,HAR,Brendon,Hartley,1989-10-11,New Zealander,http://en.wikipedia.org/wiki/Brendon_Hartley

In [104]:
nuovo.iloc[3]

driverRef                                            alonso
number                                                   14
code                                                    ALO
forename                                           Fernando
surname                                              Alonso
dob                                     1981-07-29 00:00:00
nationality                                         Spanish
url            http://en.wikipedia.org/wiki/Fernando_Alonso
Name: 4, dtype: object

In [105]:
nuovo.loc[3]

driverRef                                        rosberg
number                                                 6
code                                                 ROS
forename                                            Nico
surname                                          Rosberg
dob                                  1985-06-27 00:00:00
nationality                                       German
url            http://en.wikipedia.org/wiki/Nico_Rosberg
Name: 3, dtype: object

In [106]:
nuovo.iloc[3:5]

,driverRef,number,code,forename,surname,dob,nationality,url
driverId,,,,,,,,
4,alonso,14.0,ALO,Fernando,Alonso,1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
5,kovalainen,NaN,KOV,Heikki,Kovalainen,1981-10-19,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen

In [107]:
nuovo.loc[3:5]

,driverRef,number,code,forename,surname,dob,nationality,url
driverId,,,,,,,,
3,rosberg,6.0,ROS,Nico,Rosberg,1985-06-27,German,http://en.wikipedia.org/wiki/Nico_Rosberg
4,alonso,14.0,ALO,Fernando,Alonso,1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
5,kovalainen,NaN,KOV,Heikki,Kovalainen,1981-10-19,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen

In [108]:
nuovo.head()

,driverRef,number,code,forename,surname,dob,nationality,url
driverId,,,,,,,,
1,hamilton,44.0,HAM,Lewis,Hamilton,1985-07-01,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
2,heidfeld,NaN,HEI,Nick,Heidfeld,1977-10-05,German,http://en.wikipedia.org/wiki/Nick_Heidfeld
3,rosberg,6.0,ROS,Nico,Rosberg,1985-06-27,German,http://en.wikipedia.org/wiki/Nico_Rosberg
4,alonso,14.0,ALO,Fernando,Alonso,1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
5,kovalainen,NaN,KOV,Heikki,Kovalainen,1981-10-19,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen

In [109]:
nuovo['dob']

driverId
1     1985-07-01
2     1977-10-05
3     1985-06-27
4     1981-07-29
5     1981-10-19
         ...
838   1992-03-26
839   1996-09-17
840   1998-10-29
841   1993-12-14
843   1989-10-11
Name: dob, Length: 842, dtype: datetime64[ns]

In [116]:
nuovo.iloc[:10]['dob']

driverId
1    1985-07-01
2    1977-10-05
3    1985-06-27
4    1981-07-29
5    1981-10-19
6    1985-11-01
7    1979-02-28
8    1979-10-17
9    1984-07-12
10   1982-03-18
Name: dob, dtype: datetime64[ns]

In [115]:
nuovo.iloc[:10]['dob'].dt.year

driverId
1     1985
2     1977
3     1985
4     1981
5     1981
6     1985
7     1979
8     1979
9     1984
10    1982
Name: dob, dtype: int64

In [117]:
nuovo['anno nascita'] = nuovo['dob'].dt.year
nuovo

,driverRef,number,code,forename,surname,dob,nationality,url,anno nascita
driverId,,,,,,,,,
1,hamilton,44.0,HAM,Lewis,Hamilton,1985-07-01,British,http://en.wikipedia.org/wiki/Lewis_Hamilton,1985
2,heidfeld,NaN,HEI,Nick,Heidfeld,1977-10-05,German,http://en.wikipedia.org/wiki/Nick_Heidfeld,1977
3,rosberg,6.0,ROS,Nico,Rosberg,1985-06-27,German,http://en.wikipedia.org/wiki/Nico_Rosberg,1985
4,alonso,14.0,ALO,Fernando,Alonso,1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso,1981
5,kovalainen,NaN,KOV,Heikki,Kovalainen,1981-10-19,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen,1981
...,...,...,...,...,...,...,...,...,...
838,vandoorne,2.0,VAN,Stoffel,Vandoorne,1992-03-26,Belgian,http://en.wikipedia.org/wiki/Stoffel_Vandoorne,1992
839,ocon,31.0,OCO,Esteban,Ocon,1996-09-17,French,http://en.wikipedia.org/wiki/Esteban_Ocon,1996
840,stroll,18.0,STR,Lance,Stroll,1998-10-29,Canadian,http://en.wikipedia.org/wiki/Lance_Stroll,1998
841,giovinazzi,36.0,GIO,Antonio,Giovinazzi,1993-12-14,Italian,http://en.wikipedia.org/wiki/Antonio_Giovinazzi,1993
843,brendon_hartley,39.0,HAR,Brendon,Hartley,1989-10-11,New Zealander,http://en.wikipedia.org/wiki/Brendon_Hartley,1989

In [118]:
nuovo.head()

,driverRef,number,code,forename,surname,dob,nationality,url,anno nascita
driverId,,,,,,,,,
1,hamilton,44.0,HAM,Lewis,Hamilton,1985-07-01,British,http://en.wikipedia.org/wiki/Lewis_Hamilton,1985
2,heidfeld,NaN,HEI,Nick,Heidfeld,1977-10-05,German,http://en.wikipedia.org/wiki/Nick_Heidfeld,1977
3,rosberg,6.0,ROS,Nico,Rosberg,1985-06-27,German,http://en.wikipedia.org/wiki/Nico_Rosberg,1985
4,alonso,14.0,ALO,Fernando,Alonso,1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso,1981
5,kovalainen,NaN,KOV,Heikki,Kovalainen,1981-10-19,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen,1981

In [119]:
nuovo.tail()

,driverRef,number,code,forename,surname,dob,nationality,url,anno nascita
driverId,,,,,,,,,
838,vandoorne,2.0,VAN,Stoffel,Vandoorne,1992-03-26,Belgian,http://en.wikipedia.org/wiki/Stoffel_Vandoorne,1992
839,ocon,31.0,OCO,Esteban,Ocon,1996-09-17,French,http://en.wikipedia.org/wiki/Esteban_Ocon,1996
840,stroll,18.0,STR,Lance,Stroll,1998-10-29,Canadian,http://en.wikipedia.org/wiki/Lance_Stroll,1998
841,giovinazzi,36.0,GIO,Antonio,Giovinazzi,1993-12-14,Italian,http://en.wikipedia.org/wiki/Antonio_Giovinazzi,1993
843,brendon_hartley,39.0,HAR,Brendon,Hartley,1989-10-11,New Zealander,http://en.wikipedia.org/wiki/Brendon_Hartley,1989

In [120]:
nuovo.groupby('anno nascita')

In [122]:
nuovo.groupby('anno nascita')['url'].count()

anno nascita
1896    1
1898    3
1899    3
1900    2
1902    2
       ..
1993    2
1994    3
1996    2
1997    1
1998    1
Name: url, Length: 100, dtype: int64

In [123]:
nuovo.groupby('nationality')['url'].count()

nationality
American             156
American-Italian       1
Argentine             24
Argentine-Italian      1
Australian            17
Austrian              15
Belgian               23
Brazilian             31
British              162
Canadian              13
Chilean                1
Colombian              3
Czech                  1
Danish                 5
Dutch                 17
East German            3
Finnish                9
French                73
German                49
Hungarian              1
Indian                 2
Indonesian             1
Irish                  5
Italian               99
Japanese              19
Liechtensteiner        1
Malaysian              1
Mexican                6
Monegasque             3
New Zealander          9
Polish                 1
Portuguese             4
Rhodesian              4
Russian                2
South African         23
Spanish               15
Swedish               10
Swiss                 23
Thai                   1
Uruguayan              4
Venezuelan             3
Name: url, dtype: int64

In [126]:
nuovo.groupby(['anno nascita', 'nationality'])['url'].count()

anno nascita  nationality
1896          French         1
1898          Belgian        1
              Italian        2
1899          German         1
              Italian        1
                            ..
1994          Russian        1
              Spanish        1
1996          French         2
1997          Dutch          1
1998          Canadian       1
Name: url, Length: 520, dtype: int64

In [128]:
tips.describe()

       total_bill         tip        size  percentuale
count  244.000000  244.000000  244.000000   244.000000
mean    19.785943    2.998279    2.569672    16.080258
std      8.902412    1.383638    0.951100     6.107220
min      3.070000    1.000000    1.000000     3.563814
25%     13.347500    2.000000    2.000000    12.912736
50%     17.795000    2.900000    2.000000    15.476977
75%     24.127500    3.562500    3.000000    19.147549
max     50.810000   10.000000    6.000000    71.034483

In [129]:
movies = pd.read_csv("https://github.com/gdv/scuole-lincei/raw/master/data/rotten_tomatoes_movies.csv.gz")
movies.head()

,rotten_tomatoes_link,movie_title,movie_info,critics_consensus,poster_image_url,rating,genre,directors,writers,cast,...,studio_name,tomatometer_status,tomatometer_rating,tomatometer_count,audience_status,audience_rating,audience_count,audience_top_critics_count,audience_fresh_critics_count,audience_rotten_critics_count
0,/m/0814255,Percy Jackson & the Olympians: The Lightning T...,A teenager discovers he's the descendant of a ...,Though it may seem like just another Harry Pot...,https://resizing.flixster.com/p1veUpQ4ktsSHtRu...,PG,"Action & Adventure, Comedy, Drama, Science Fic...",Chris Columbus,Craig Titley,"Logan Lerman, Brandon T. Jackson, Alexandra Da...",...,20th Century Fox,Rotten,49,144,Spilled,53.0,254287.0,38,71,73
1,/m/0878835,Please Give,Kate has a lot on her mind. There's the ethics...,Nicole Holofcener's newest might seem slight i...,https://resizing.flixster.com/0AbudQ4KsB4BeXSB...,R,Comedy,Nicole Holofcener,Nicole Holofcener,"Catherine Keener, Amanda Peet, Oliver Platt, R...",...,Sony Pictures Classics,Certified Fresh,86,140,Upright,64.0,11567.0,43,121,19
2,/m/10,10,Blake Edwards' 10 stars Dudley Moore as George...,NaN,https://resizing.flixster.com/mF0dxH6UTa0FdkMs...,R,"Comedy, Romance",Blake Edwards,Blake Edwards,"Dudley Moore, Bo Derek, Julie Andrews, Robert ...",...,Waner Bros.,Fresh,68,22,Spilled,53.0,14670.0,2,15,7
3,/m/1000013-12_angry_men,12 Angry Men (Twelve Angry Men),"A Puerto Rican youth is on trial for murder, a...",Sidney Lumet's feature debut is a superbly wri...,https://resizing.flixster.com/u-8xAyGaDVvROLiR...,NR,"Classics, Drama",Sidney Lumet,Reginald Rose,"Martin Balsam, John Fiedler, Lee J. Cobb, E.G....",...,Criterion Collection,Certified Fresh,100,51,Upright,97.0,105000.0,6,51,0
4,/m/1000079-20000_leagues_under_the_sea,"20,000 Leagues Under The Sea","This 1954 Disney version of Jules Verne's 20,0...","One of Disney's finest live-action adventures,...",https://resizing.flixster.com/FKExgYBHu07XLoil...,G,"Action & Adventure, Drama, Kids & Family",Richard Fleischer,Earl Felton,"James Mason, Kirk Douglas, Paul Lukas, Peter L...",...,Disney,Fresh,89,27,Upright,74.0,68860.0,5,24,3

In [136]:
reviews = pd.read_csv("https://github.com/gdv/scuole-lincei/raw/master/data/rotten_tomatoes_reviews.csv.gz",
                     parse_dates = ['review_date'])

In [137]:
reviews.head()

,rotten_tomatoes_link,review_date,critic_publication,critic_icon,critic_top,critic_score,review_content
0,/m/0814255,2015-01-09,Cinemaphile.org,Rotten,NaN,NaN,The plot uses the presence of the Greek gods a...
1,/m/0814255,2012-07-31,7M Pictures,Fresh,NaN,NaN,It provides a great adventure movie for the fa...
2,/m/0814255,2011-11-05,"Star-Democrat (Easton, MD)",Rotten,NaN,NaN,The premise of Percy Jackson & the Olympians: ...
3,/m/0814255,2011-04-25,ComingSoon.net,Rotten,NaN,NaN,Percy Jackson is simply uninspired in every si...
4,/m/0814255,2011-04-04,Movies.com,Rotten,NaN,NaN,It kind of just builds up to a lot of Not Much.

In [138]:
reviews['review_date']

0        2015-01-09
1        2012-07-31
2        2011-11-05
3        2011-04-25
4        2011-04-04
            ...
930937   2007-03-07
930938   2005-11-02
930939   2005-11-01
930940   2005-08-14
930941   2005-06-25
Name: review_date, Length: 930942, dtype: datetime64[ns]

In [132]:
movies = movies.set_index('rotten_tomatoes_link')

In [133]:
movies.head()

,movie_title,movie_info,critics_consensus,poster_image_url,rating,genre,directors,writers,cast,in_theaters_date,...,studio_name,tomatometer_status,tomatometer_rating,tomatometer_count,audience_status,audience_rating,audience_count,audience_top_critics_count,audience_fresh_critics_count,audience_rotten_critics_count
rotten_tomatoes_link,,,,,,,,,,,,,,,,,,,,,
/m/0814255,Percy Jackson & the Olympians: The Lightning T...,A teenager discovers he's the descendant of a ...,Though it may seem like just another Harry Pot...,https://resizing.flixster.com/p1veUpQ4ktsSHtRu...,PG,"Action & Adventure, Comedy, Drama, Science Fic...",Chris Columbus,Craig Titley,"Logan Lerman, Brandon T. Jackson, Alexandra Da...",2010-02-12,...,20th Century Fox,Rotten,49,144,Spilled,53.0,254287.0,38,71,73
/m/0878835,Please Give,Kate has a lot on her mind. There's the ethics...,Nicole Holofcener's newest might seem slight i...,https://resizing.flixster.com/0AbudQ4KsB4BeXSB...,R,Comedy,Nicole Holofcener,Nicole Holofcener,"Catherine Keener, Amanda Peet, Oliver Platt, R...",2010-04-30,...,Sony Pictures Classics,Certified Fresh,86,140,Upright,64.0,11567.0,43,121,19
/m/10,10,Blake Edwards' 10 stars Dudley Moore as George...,NaN,https://resizing.flixster.com/mF0dxH6UTa0FdkMs...,R,"Comedy, Romance",Blake Edwards,Blake Edwards,"Dudley Moore, Bo Derek, Julie Andrews, Robert ...",1979-10-05,...,Waner Bros.,Fresh,68,22,Spilled,53.0,14670.0,2,15,7
/m/1000013-12_angry_men,12 Angry Men (Twelve Angry Men),"A Puerto Rican youth is on trial for murder, a...",Sidney Lumet's feature debut is a superbly wri...,https://resizing.flixster.com/u-8xAyGaDVvROLiR...,NR,"Classics, Drama",Sidney Lumet,Reginald Rose,"Martin Balsam, John Fiedler, Lee J. Cobb, E.G....",1957-04-13,...,Criterion Collection,Certified Fresh,100,51,Upright,97.0,105000.0,6,51,0
/m/1000079-20000_leagues_under_the_sea,"20,000 Leagues Under The Sea","This 1954 Disney version of Jules Verne's 20,0...","One of Disney's finest live-action adventures,...",https://resizing.flixster.com/FKExgYBHu07XLoil...,G,"Action & Adventure, Drama, Kids & Family",Richard Fleischer,Earl Felton,"James Mason, Kirk Douglas, Paul Lukas, Peter L...",1954-01-01,...,Disney,Fresh,89,27,Upright,74.0,68860.0,5,24,3

In [134]:
movies.columns

Index(['movie_title', 'movie_info', 'critics_consensus', 'poster_image_url',
       'rating', 'genre', 'directors', 'writers', 'cast', 'in_theaters_date',
       'on_streaming_date', 'runtime_in_minutes', 'studio_name',
       'tomatometer_status', 'tomatometer_rating', 'tomatometer_count',
       'audience_status', 'audience_rating', 'audience_count',
       'audience_top_critics_count', 'audience_fresh_critics_count',
       'audience_rotten_critics_count'],
      dtype='object')

In [135]:
reviews.columns

Index(['rotten_tomatoes_link', 'review_date', 'critic_publication',
       'critic_icon', 'critic_top', 'critic_score', 'review_content'],
      dtype='object')

In [139]:
tabella = pd.merge(movies, reviews, left_index = True, right_on = 'rotten_tomatoes_link')
tabella

,movie_title,movie_info,critics_consensus,poster_image_url,rating,genre,directors,writers,cast,in_theaters_date,...,audience_top_critics_count,audience_fresh_critics_count,audience_rotten_critics_count,rotten_tomatoes_link,review_date,critic_publication,critic_icon,critic_top,critic_score,review_content
0,Percy Jackson & the Olympians: The Lightning T...,A teenager discovers he's the descendant of a ...,Though it may seem like just another Harry Pot...,https://resizing.flixster.com/p1veUpQ4ktsSHtRu...,PG,"Action & Adventure, Comedy, Drama, Science Fic...",Chris Columbus,Craig Titley,"Logan Lerman, Brandon T. Jackson, Alexandra Da...",2010-02-12,...,38,71,73,/m/0814255,2015-01-09,Cinemaphile.org,Rotten,NaN,NaN,The plot uses the presence of the Greek gods a...
1,Percy Jackson & the Olympians: The Lightning T...,A teenager discovers he's the descendant of a ...,Though it may seem like just another Harry Pot...,https://resizing.flixster.com/p1veUpQ4ktsSHtRu...,PG,"Action & Adventure, Comedy, Drama, Science Fic...",Chris Columbus,Craig Titley,"Logan Lerman, Brandon T. Jackson, Alexandra Da...",2010-02-12,...,38,71,73,/m/0814255,2012-07-31,7M Pictures,Fresh,NaN,NaN,It provides a great adventure movie for the fa...
2,Percy Jackson & the Olympians: The Lightning T...,A teenager discovers he's the descendant of a ...,Though it may seem like just another Harry Pot...,https://resizing.flixster.com/p1veUpQ4ktsSHtRu...,PG,"Action & Adventure, Comedy, Drama, Science Fic...",Chris Columbus,Craig Titley,"Logan Lerman, Brandon T. Jackson, Alexandra Da...",2010-02-12,...,38,71,73,/m/0814255,2011-11-05,"Star-Democrat (Easton, MD)",Rotten,NaN,NaN,The premise of Percy Jackson & the Olympians: ...
3,Percy Jackson & the Olympians: The Lightning T...,A teenager discovers he's the descendant of a ...,Though it may seem like just another Harry Pot...,https://resizing.flixster.com/p1veUpQ4ktsSHtRu...,PG,"Action & Adventure, Comedy, Drama, Science Fic...",Chris Columbus,Craig Titley,"Logan Lerman, Brandon T. Jackson, Alexandra Da...",2010-02-12,...,38,71,73,/m/0814255,2011-04-25,ComingSoon.net,Rotten,NaN,NaN,Percy Jackson is simply uninspired in every si...
4,Percy Jackson & the Olympians: The Lightning T...,A teenager discovers he's the descendant of a ...,Though it may seem like just another Harry Pot...,https://resizing.flixster.com/p1veUpQ4ktsSHtRu...,PG,"Action & Adventure, Comedy, Drama, Science Fic...",Chris Columbus,Craig Titley,"Logan Lerman, Brandon T. Jackson, Alexandra Da...",2010-02-12,...,38,71,73,/m/0814255,2011-04-04,Movies.com,Rotten,NaN,NaN,It kind of just builds up to a lot of Not Much.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
930937,Zulu Dawn,"A prequel to Zulu, Zulu Dawn depicts the event...",NaN,https://resizing.flixster.com/rTNgYvWisCWBbHF7...,PG,"Action & Adventure, Art House & International,...",Douglas Hickox,"Cy Endfield, Anthony Storey","Burt Lancaster, Peter O'Toole, Simon Ward, Joh...",1979-12-14,...,0,4,3,/m/zulu_dawn,2007-03-07,"Mountain Xpress (Asheville, NC)",Fresh,NaN,NaN,"Seen today, it's not only a startling indictme..."
930938,Zulu Dawn,"A prequel to Zulu, Zulu Dawn depicts the event...",NaN,https://resizing.flixster.com/rTNgYvWisCWBbHF7...,PG,"Action & Adventure, Art House & International,...",Douglas Hickox,"Cy Endfield, Anthony Storey","Burt Lancaster, Peter O'Toole, Simon Ward, Joh...",1979-12-14,...,0,4,3,/m/zulu_dawn,2005-11-02,Fantastica Daily,Rotten,NaN,NaN,NaN
930939,Zulu Dawn,"A prequel to Zulu, Zulu Dawn depicts the event...",NaN,https://resizing.flixster.com/rTNgYvWisCWBbHF7...,PG,"Action & Adventure, Art House & International,...",Douglas Hickox,"Cy Endfield, Anthony Storey","Burt Lancaster, Peter O'Toole, Simon Ward, Joh...",1979-12-14,...,0,4,3,/m/zulu_dawn,2005-11-01,ColeSmithey.com,Fresh,NaN,NaN,NaN
930940,Zulu Dawn,"A prequel to Zulu, Zulu Dawn depicts the event...",NaN,https://resizing.flixster.com/rTNgYvWisCWBbHF7...,PG,"Action & Adventure, Art House & International,...",Douglas Hickox,"Cy Endfield, Anthony Storey","Burt Lancaster, Peter O'Toole, Simon Ward, Joh...",1979-12-14,...,0,4,3,/m/zulu_dawn,2005-08-14,PopcornQ,Fresh,NaN,NaN,NaN
930941,Zulu Dawn,"A prequel to Zulu, Zulu Dawn depicts the event...",NaN,https://resizing.flixster.com/rTNgYvWisCWBbHF7...,PG,"Action & Adventure, Art House & International,...",Douglas Hickox,"Cy Endfield, Anthony Storey","Burt Lancaster, Peter O'Toole, Simon Ward, Joh...",1979-12-14,...,0,4,3,/m/zulu_dawn,2005-06-25,EmanuelLevy.Com,Rotten,NaN,NaN,NaN

In [145]:
vecchi = tabella.groupby('rotten_tomatoes_link', as_index = False)['review_date'].min()
vecchi

                         rotten_tomatoes_link review_date
0                                  /m/0814255  2010-02-06
1                                  /m/0878835  2010-01-25
2                                       /m/10  2000-01-01
3                     /m/1000013-12_angry_men  2000-01-01
4      /m/1000079-20000_leagues_under_the_sea  2000-01-01
...                                       ...         ...
16589                            /m/zoot_suit  2000-01-01
16590                             /m/zootopia  2016-02-12
16591                      /m/zorba_the_greek  2003-09-05
16592                                 /m/zulu  1964-06-17
16593                            /m/zulu_dawn  2005-06-25

[16594 rows x 2 columns]

In [146]:
recenti = tabella.groupby('rotten_tomatoes_link', as_index = False)['review_date'].max()
recenti

                         rotten_tomatoes_link review_date
0                                  /m/0814255  2015-01-09
1                                  /m/0878835  2019-07-23
2                                       /m/10  2011-02-11
3                     /m/1000013-12_angry_men  2019-10-14
4      /m/1000079-20000_leagues_under_the_sea  2012-05-31
...                                       ...         ...
16589                            /m/zoot_suit  2019-05-01
16590                             /m/zootopia  2019-10-22
16591                      /m/zorba_the_greek  2019-07-16
16592                                 /m/zulu  2017-07-10
16593                            /m/zulu_dawn  2011-02-28

[16594 rows x 2 columns]

In [151]:
temporanea = pd.merge(movies, vecchi, left_index = True, right_on = 'rotten_tomatoes_link' )[['movie_title', 
                                                                                 'rotten_tomatoes_link',
                                                                                'review_date']]
temporanea

,movie_title,rotten_tomatoes_link,review_date
0,Percy Jackson & the Olympians: The Lightning T...,/m/0814255,2010-02-06
1,Please Give,/m/0878835,2010-01-25
2,10,/m/10,2000-01-01
3,12 Angry Men (Twelve Angry Men),/m/1000013-12_angry_men,2000-01-01
4,"20,000 Leagues Under The Sea",/m/1000079-20000_leagues_under_the_sea,2000-01-01
...,...,...,...
16589,Zoot Suit,/m/zoot_suit,2000-01-01
16590,Zootopia,/m/zootopia,2016-02-12
16591,Zorba the Greek,/m/zorba_the_greek,2003-09-05
16592,Zulu,/m/zulu,1964-06-17
16593,Zulu Dawn,/m/zulu_dawn,2005-06-25

In [153]:
finale = pd.merge(temporanea, recenti, on = 'rotten_tomatoes_link')
finale

,movie_title,rotten_tomatoes_link,review_date_x,review_date_y
0,Percy Jackson & the Olympians: The Lightning T...,/m/0814255,2010-02-06,2015-01-09
1,Please Give,/m/0878835,2010-01-25,2019-07-23
2,10,/m/10,2000-01-01,2011-02-11
3,12 Angry Men (Twelve Angry Men),/m/1000013-12_angry_men,2000-01-01,2019-10-14
4,"20,000 Leagues Under The Sea",/m/1000079-20000_leagues_under_the_sea,2000-01-01,2012-05-31
...,...,...,...,...
16589,Zoot Suit,/m/zoot_suit,2000-01-01,2019-05-01
16590,Zootopia,/m/zootopia,2016-02-12,2019-10-22
16591,Zorba the Greek,/m/zorba_the_greek,2003-09-05,2019-07-16
16592,Zulu,/m/zulu,1964-06-17,2017-07-10
16593,Zulu Dawn,/m/zulu_dawn,2005-06-25,2011-02-28

In [155]:
finale.columns = ['movie_title', 'rotten_tomatoes_link', 'prima', 'ultima']

In [156]:
finale

,movie_title,rotten_tomatoes_link,prima,ultima
0,Percy Jackson & the Olympians: The Lightning T...,/m/0814255,2010-02-06,2015-01-09
1,Please Give,/m/0878835,2010-01-25,2019-07-23
2,10,/m/10,2000-01-01,2011-02-11
3,12 Angry Men (Twelve Angry Men),/m/1000013-12_angry_men,2000-01-01,2019-10-14
4,"20,000 Leagues Under The Sea",/m/1000079-20000_leagues_under_the_sea,2000-01-01,2012-05-31
...,...,...,...,...
16589,Zoot Suit,/m/zoot_suit,2000-01-01,2019-05-01
16590,Zootopia,/m/zootopia,2016-02-12,2019-10-22
16591,Zorba the Greek,/m/zorba_the_greek,2003-09-05,2019-07-16
16592,Zulu,/m/zulu,1964-06-17,2017-07-10
16593,Zulu Dawn,/m/zulu_dawn,2005-06-25,2011-02-28

In [157]:
finale['intervallo'] = finale['ultima'] - finale['prima']

In [158]:
finale

,movie_title,rotten_tomatoes_link,prima,ultima,intervallo
0,Percy Jackson & the Olympians: The Lightning T...,/m/0814255,2010-02-06,2015-01-09,1798 days
1,Please Give,/m/0878835,2010-01-25,2019-07-23,3466 days
2,10,/m/10,2000-01-01,2011-02-11,4059 days
3,12 Angry Men (Twelve Angry Men),/m/1000013-12_angry_men,2000-01-01,2019-10-14,7226 days
4,"20,000 Leagues Under The Sea",/m/1000079-20000_leagues_under_the_sea,2000-01-01,2012-05-31,4534 days
...,...,...,...,...,...
16589,Zoot Suit,/m/zoot_suit,2000-01-01,2019-05-01,7060 days
16590,Zootopia,/m/zootopia,2016-02-12,2019-10-22,1348 days
16591,Zorba the Greek,/m/zorba_the_greek,2003-09-05,2019-07-16,5793 days
16592,Zulu,/m/zulu,1964-06-17,2017-07-10,19381 days
16593,Zulu Dawn,/m/zulu_dawn,2005-06-25,2011-02-28,2074 days

## Concatenazione

In [159]:
giorno1 = pd.read_csv("https://github.com/pcm-dpc/COVID-19/raw/master/dati-province/dpc-covid19-ita-province-20200322.csv")
giorno1

,data,stato,codice_regione,denominazione_regione,codice_provincia,denominazione_provincia,sigla_provincia,lat,long,totale_casi
0,2020-03-22 17:00:00,ITA,13,Abruzzo,69,Chieti,CH,42.351032,14.167546,102
1,2020-03-22 17:00:00,ITA,13,Abruzzo,66,L'Aquila,AQ,42.351222,13.398438,38
2,2020-03-22 17:00:00,ITA,13,Abruzzo,68,Pescara,PE,42.464584,14.213648,334
3,2020-03-22 17:00:00,ITA,13,Abruzzo,67,Teramo,TE,42.658918,13.704400,113
4,2020-03-22 17:00:00,ITA,13,Abruzzo,979,In fase di definizione/aggiornamento,NaN,0.000000,0.000000,0
...,...,...,...,...,...,...,...,...,...,...
123,2020-03-22 17:00:00,ITA,5,Veneto,26,Treviso,TV,45.667546,12.245074,935
124,2020-03-22 17:00:00,ITA,5,Veneto,27,Venezia,VE,45.434905,12.338452,732
125,2020-03-22 17:00:00,ITA,5,Veneto,23,Verona,VR,45.438390,10.993527,1046
126,2020-03-22 17:00:00,ITA,5,Veneto,24,Vicenza,VI,45.547497,11.545971,631
127,2020-03-22 17:00:00,ITA,5,Veneto,999,In fase di definizione/aggiornamento,NaN,0.000000,0.000000,199

In [160]:
giorno2 = pd.read_csv("https://github.com/pcm-dpc/COVID-19/raw/master/dati-province/dpc-covid19-ita-province-20200321.csv")
giorno2

,data,stato,codice_regione,denominazione_regione,codice_provincia,denominazione_provincia,sigla_provincia,lat,long,totale_casi
0,2020-03-21 17:00:00,ITA,13,Abruzzo,69,Chieti,CH,42.351032,14.167546,91
1,2020-03-21 17:00:00,ITA,13,Abruzzo,66,L'Aquila,AQ,42.351222,13.398438,31
2,2020-03-21 17:00:00,ITA,13,Abruzzo,68,Pescara,PE,42.464584,14.213648,302
3,2020-03-21 17:00:00,ITA,13,Abruzzo,67,Teramo,TE,42.658918,13.704400,105
4,2020-03-21 17:00:00,ITA,13,Abruzzo,979,In fase di definizione/aggiornamento,NaN,0.000000,0.000000,0
...,...,...,...,...,...,...,...,...,...,...
123,2020-03-21 17:00:00,ITA,5,Veneto,26,Treviso,TV,45.667546,12.245074,806
124,2020-03-21 17:00:00,ITA,5,Veneto,27,Venezia,VE,45.434905,12.338452,666
125,2020-03-21 17:00:00,ITA,5,Veneto,23,Verona,VR,45.438390,10.993527,954
126,2020-03-21 17:00:00,ITA,5,Veneto,24,Vicenza,VI,45.547497,11.545971,572
127,2020-03-21 17:00:00,ITA,5,Veneto,999,In fase di definizione/aggiornamento,NaN,0.000000,0.000000,184

In [162]:
totale = pd.concat([giorno1, giorno2])
totale

,data,stato,codice_regione,denominazione_regione,codice_provincia,denominazione_provincia,sigla_provincia,lat,long,totale_casi
0,2020-03-22 17:00:00,ITA,13,Abruzzo,69,Chieti,CH,42.351032,14.167546,102
1,2020-03-22 17:00:00,ITA,13,Abruzzo,66,L'Aquila,AQ,42.351222,13.398438,38
2,2020-03-22 17:00:00,ITA,13,Abruzzo,68,Pescara,PE,42.464584,14.213648,334
3,2020-03-22 17:00:00,ITA,13,Abruzzo,67,Teramo,TE,42.658918,13.704400,113
4,2020-03-22 17:00:00,ITA,13,Abruzzo,979,In fase di definizione/aggiornamento,NaN,0.000000,0.000000,0
...,...,...,...,...,...,...,...,...,...,...
123,2020-03-21 17:00:00,ITA,5,Veneto,26,Treviso,TV,45.667546,12.245074,806
124,2020-03-21 17:00:00,ITA,5,Veneto,27,Venezia,VE,45.434905,12.338452,666
125,2020-03-21 17:00:00,ITA,5,Veneto,23,Verona,VR,45.438390,10.993527,954
126,2020-03-21 17:00:00,ITA,5,Veneto,24,Vicenza,VI,45.547497,11.545971,572
127,2020-03-21 17:00:00,ITA,5,Veneto,999,In fase di definizione/aggiornamento,NaN,0.000000,0.000000,184