# Introduzione a Python per la Data Science

# Inizio ore 14.30

## Lavagna condivisa [https://board.net/p/lincei](https://board.net/p/lincei)


1.  elenco numerato
2.  seconda voce
1.  terza **voce**
1.  $\sum_{i=1}^99 4^{i}$

In [6]:
a = 4
a

4

In [7]:
type(a)

int

In [8]:
a = 'pippo'
type(a)

str

In [9]:
1 +2 *9

19

In [10]:
lista = [1, 99, 'testo lungo', 8.14]
lista

[1, 99, 'testo lungo', 8.14]

In [11]:
lista[1]

99

In [12]:
lista[0]

1

In [13]:
lista[-1]

8.14

In [14]:
lista[1:3]

[99, 'testo lungo']

In [15]:
lista.append(6)
lista

[1, 99, 'testo lungo', 8.14, 6]

In [16]:
lista[1:5:2]

[99, 8.14]

In [17]:
lista[::-1]

[6, 8.14, 'testo lungo', 99, 1]

In [18]:
lista[:3]

[1, 99, 'testo lungo']

In [19]:
dizionario = {'Rossi': 12, 'Bianchi': 27}
dizionario

{'Rossi': 12, 'Bianchi': 27}

In [20]:
dizionario = {'Rossi': 12, 'Bianchi': 27, 99: 'valore'}
dizionario

{'Rossi': 12, 'Bianchi': 27, 99: 'valore'}

In [21]:
testo = 'asdijwneviahurhetrhnvasdopvuweugndfsdvierionvsdunsdvr'

## Esercizio

Per ogni lettera, calcolare quante volte compare in `testo`

In [22]:
testo[5]

'w'

In [24]:
import collections

In [26]:
contatore = collections.Counter(testo)
contatore

Counter({'a': 3,
         's': 5,
         'd': 6,
         'i': 4,
         'j': 1,
         'w': 2,
         'n': 5,
         'e': 4,
         'v': 6,
         'h': 3,
         'u': 4,
         'r': 4,
         't': 1,
         'o': 2,
         'p': 1,
         'g': 1,
         'f': 1})

In [30]:
contatore.most_common(3)

[('d', 6), ('v', 6), ('s', 5)]

In [28]:
conta = {}

In [29]:
for carattere in testo:
    if carattere in conta:
        conta[carattere] += 1
    else:
        conta[carattere] = 1
conta

{'a': 3,
 's': 5,
 'd': 6,
 'i': 4,
 'j': 1,
 'w': 2,
 'n': 5,
 'e': 4,
 'v': 6,
 'h': 3,
 'u': 4,
 'r': 4,
 't': 1,
 'o': 2,
 'p': 1,
 'g': 1,
 'f': 1}

In [ ]:
for (unsigned int i=0; i<len(testo); i++) {
if testo[i] in conta
conta[testo[i]] += 1;
else
conta[testo[i]] = 1;
}
printf("%s\n", conta);

## Pandas

In [31]:
import pandas as pd

In [32]:
pd.read_csv("data/googleplaystore.csv")

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10836,Sya9a Maroc - FR,FAMILY,4.5,38,53M,"5,000+",Free,0,Everyone,Education,"July 25, 2017",1.48,4.1 and up
10837,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3.6M,100+,Free,0,Everyone,Education,"July 6, 2018",1.0,4.1 and up
10838,Parkinson Exercices FR,MEDICAL,NaN,3,9.5M,"1,000+",Free,0,Everyone,Medical,"January 20, 2017",1.0,2.2 and up
10839,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,Varies with device,"1,000+",Free,0,Mature 17+,Books & Reference,"January 19, 2015",Varies with device,Varies with device
10840,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0,Everyone,Lifestyle,"July 25, 2018",Varies with device,Varies with device

In [34]:
pd.read_csv("https://github.com/gdv/scuole-lincei/blob/master/data/istat-giovani.csv?raw=true")

,ITTER107,Territorio,TIPO_DATO_FOL,Tipo dato,SEXISTAT1,Sesso,ETA1,Classe di età,TITOLO_STUDIO,Titolo di studio,CITTADINANZA,Cittadinanza,TIME,Seleziona periodo,Value,Flag Codes,Flags
0,IT,Italia,POP_15,popolazione 15 anni e oltre (migliaia),1,maschi,Y15-24,15-24 anni,3,"licenza di scuola elementare, nessun titolo di...",ITL,italiano-a,2004,2004,62.193,NaN,NaN
1,IT,Italia,POP_15,popolazione 15 anni e oltre (migliaia),1,maschi,Y15-24,15-24 anni,3,"licenza di scuola elementare, nessun titolo di...",ITL,italiano-a,2005,2005,50.122,NaN,NaN
2,IT,Italia,POP_15,popolazione 15 anni e oltre (migliaia),1,maschi,Y15-24,15-24 anni,3,"licenza di scuola elementare, nessun titolo di...",ITL,italiano-a,2006,2006,50.097,NaN,NaN
3,IT,Italia,POP_15,popolazione 15 anni e oltre (migliaia),1,maschi,Y15-24,15-24 anni,3,"licenza di scuola elementare, nessun titolo di...",ITL,italiano-a,2007,2007,43.190,NaN,NaN
4,IT,Italia,POP_15,popolazione 15 anni e oltre (migliaia),1,maschi,Y15-24,15-24 anni,3,"licenza di scuola elementare, nessun titolo di...",ITL,italiano-a,2008,2008,40.887,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22298,ITFG,Mezzogiorno,POP_15,popolazione 15 anni e oltre (migliaia),9,totale,Y30-34,30-34 anni,99,totale,TOTAL,totale,2013,2013,1346.237,NaN,NaN
22299,ITFG,Mezzogiorno,POP_15,popolazione 15 anni e oltre (migliaia),9,totale,Y30-34,30-34 anni,99,totale,TOTAL,totale,2014,2014,1326.717,NaN,NaN
22300,ITFG,Mezzogiorno,POP_15,popolazione 15 anni e oltre (migliaia),9,totale,Y30-34,30-34 anni,99,totale,TOTAL,totale,2015,2015,1309.347,NaN,NaN
22301,ITFG,Mezzogiorno,POP_15,popolazione 15 anni e oltre (migliaia),9,totale,Y30-34,30-34 anni,99,totale,TOTAL,totale,2016,2016,1288.959,NaN,NaN
22302,ITFG,Mezzogiorno,POP_15,popolazione 15 anni e oltre (migliaia),9,totale,Y30-34,30-34 anni,99,totale,TOTAL,totale,2017,2017,1265.457,NaN,NaN